<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" />
    <title>Portfolio</title>
</head>

<body>
<div class="page">
    <div class="header">
        <h1>Portfolio</h1>
    </div>
    <div class="projects">
        <div class="cards">
            <div class="card">
                <img class="card-image" alt="Olsker cupcakes" src="images/cupcakelogo.png" />
                <div class="card-body">
                    <div class="card-copy">Olsker cupcakes</div>
                    <a class="card-link" href="https://cupcake.mikkelmattern.dk">Vælg projekt</a>
                </div>
            </div>
            <div class="card">
                <img class="card-image" alt="Fog carport projekt" src="images/carport.png" />
                <div class="card-body">
                    <div class="card-copy">Carport</div>
                    <a class="card-link" href="https://carport.mikkelmattern.dk">Vælg projekt</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>